name: mapu
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.12
  - pandas
  - numpy
  - pip
  - pip:
    - -e . # Install your local package (if your project is a Python package)
    # - flask # Example of a pip-installed package
